@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.main {
  margin: 0;
  animation: blurFadeAnimation 0.35s ease-out forwards;
  h1 {
    @include font("Montserrat", 800, 3em, 20px, 35px);
  }

  p {
    @include font("Montserrat", 400, 0.9em, 0 0 30px 0, 1.5em);
  }
}

@keyframes blurFadeAnimation {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  50% {
    filter: blur(5px);
    opacity: 0.5;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
