$color1: #0191ac;
$color2: #0192ac40;
$color3: #f2763a;
$color4: #fbf6f3;
$basecolor: #ffffff;

$textcolor: #1b1e28;

$gradient: linear-gradient(
  90deg,
  rgba(227, 103, 70, 1) 0%,
  rgba(249, 151, 125, 1) 35%,
  rgba(249, 151, 125, 1) 65%,
  rgba(227, 103, 70, 1) 110%
);
