@import "../../assets/css/mixins.scss";
.containerProduct {
  @include display(flex, column, inherit, 10px);

  .product {
    cursor: pointer;
    padding: 5%;
    transition: 0.35s;
  }
}
