/* GLOBAL SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #fefcf5;
}

a {
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.button {
  padding: 5px 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #dcab33;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 1px solid #dcab33;
}

.button:hover {
  background-color: #ece7d9;
  color: #dcab33;
  border: 1px solid #dcab33;
}

/* SETTINGS */
.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.fa-trash {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #dc3333;
  background-color: #dc3333;
  color: #fff;
  border-radius: 20px;
}

.fa-magnifying-glass {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #dcab33;
  background-color: #dcab33;
  color: #fff;
  border-radius: 20px;
}

.fa-robot {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 70px;
  border: 2px solid #2d9f46;
  background-color: #2d9f46;
  color: #fff;
  border-radius: 20px;
  font-size: 22px;
}

.fa-android,
.fa-microchip {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 70px;
  border: 2px solid #dcab33;
  background-color: #dcab33;
  color: #fff;
  border-radius: 20px;
  font-size: 22px;
}

.secondNav {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  background-color: #faedcc;
}
.robot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.law {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleLaw {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.containerRobot {
  position: relative;
  max-width: 250px;
  background-color: #dcab33;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.imgRobot img {
  width: 100%;
  object-fit: cover;
}

.wrapperRobot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ece7d9;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  gap: 5px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

.fa-heart {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
}

.fa-cart-plus {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: #dcab33;
}

@media screen and (max-width: 768px) {
  .robot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .containerRobot {
    position: relative;
    max-width: 48%;
    background-color: #dcab33;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
}
