.navbar {
  background-color: darkslateblue;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text ul {
  color: #fff;
  list-style-type: none;
}

input::placeholder {
  color: darkslateblue;
}
