@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.DayByDay {
  margin-top: 20px;
  .listDetail {
    @include display(flex, row, center, center, 0, 0);
  }

  .listDetailLi {
    list-style-type: none;
    @include display(flex, column, center, center, 2px, 0);
  }

  .image {
    background-color: $color1;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }
  h1 {
    padding: 0 20px;
    color: $color1;

    @include font("Montserrat", 600, 1.9em, 20px 0 5px 0, 1.2em);
  }

  h2 {
    padding: 0 20px;
    color: $color1;

    @include font("Montserrat", 600, 1.9em, 20px 0 5px 0, 1.2em);
  }

  p {
    padding: 0 20px;
    @include font("Montserrat", 400, 0.9em, 30px 0 20px 0, 1.5em);
  }
}

@media only screen and (max-width: 600px) {
  .DayByDay {
    .listDetail {
      padding: 20px 0;
      @include display(flex, row, center, flex-start, 2px, 0);
    }
    .listDetailLi {
      list-style-type: none;
      @include display(flex, column, center, center, 2px, 0);
    }

    p {
      padding: 0 20px;
      @include font("Montserrat", 400, 0.9em, 0 0 0 0, 1.5em);
    }
  }
}
